@import "compass/reset";
@import "compass/css3";

input {
  outline: none;
  border: 1px solid rgb(200,200,200);
  height: 60px;
  font-size: 30px;
  
  @include border-radius(6px);
  @include transition(all 0.5s ease-in-out);
  
  &:focus {
    @include box-shadow(0 0 6px rgba(200, 200, 200, 1));
  }
}
