/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

input {
  outline: none;
  border: 1px solid rgb(200,200,200);
  height: 21px;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

input:focus {
  box-shadow: 0 0 4px rgba(200, 200, 200, 1);
  -webkit-box-shadow: 0 0 4px rgba(200, 200, 200, 1); 
  -moz-box-shadow: 0 0 4px rgba(200, 200, 200, 1); 
}
