@import "compass/reset";
@import "compass/css3";

body {
  background: #2f2f2f;
  width: 810px;
  margin: 0 auto;
  color: white;
  font-family: 'Museo Sans', "museosans-web", 'serif';
  font-weight: bold;
}

#tracking_form {
  width: 810px;
  margin-bottom: 25px;
  label {
    display: none;
  }
  input {
    width: 673px;
  }
  .button {
    width: 125px;
  }
}

#tracking-details {
  background-color: rgba(0, 0, 0, 0.3);
  background: #202020;
  padding: 15px;
  margin-bottom: 15px;
  @include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset);
  @include border-radius(6px);
  
  ul {
    font-weight: normal;
    line-height: 1.5em;
    li:first-child {
      color: green;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
  
  h2 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #dadbb1;
  }
}

h1 {
  color: #dadbb1;
  font-size: 2em;
  margin {
    
  }
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

input {
  outline: none;
  border: 1px solid rgb(200,200,200);
  height: 60px;
  font-size: 30px;
  
  @include border-radius(6px);
  @include transition(all 0.5s ease-in-out);
  @include background-image(linear-gradient(#f0f0f0, white 30%, #fff));
  
  &:focus {
    @include box-shadow(0 0 8px rgba(200, 200, 200, 1));
  }
  
  &.button {
    @include background-image(linear-gradient(white, #aaaaaa));
    cursor: pointer;
  }
}
